body {
    background-color: #f0f8ff; /* Mengatur warna background */
    color: #333; /* Mengatur warna font */
    font-family: Arial, sans-serif; /* Mengatur jenis font */
}

h1 {
    color: #2e8b57; /* Mengatur warna font untuk h1 */
}
